<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ita.domain.mapper.BoxMapper">
  <resultMap id="BaseResultMap" type="com.ita.domain.entity.Box">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="address" jdbcType="VARCHAR" property="address"/>
    <result column="number" jdbcType="INTEGER" property="number"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from box
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ita.domain.entity.Box">
    insert into box (id, address, number,
                     status, create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER},
            #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ita.domain.entity.Box">
    update box
    set address     = #{address,jdbcType=VARCHAR},
        number      = #{number,jdbcType=INTEGER},
        status      = #{status,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, address, number, status, create_time, update_time
    from box
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, address, number, status, create_time, update_time
    from box
  </select>
</mapper>