<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ita.domain.mapper.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.ita.domain.entity.OrderItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from order_item
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ita.domain.entity.OrderItem">
        insert into order_item (id, product_id, order_id,
                                quantity, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER},
                #{quantity,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.ita.domain.entity.OrderItem">
        update order_item
        set product_id  = #{productId,jdbcType=INTEGER},
            order_id    = #{orderId,jdbcType=INTEGER},
            quantity    = #{quantity,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, product_id, order_id, quantity, create_time, update_time
        from order_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, product_id, order_id, quantity, create_time, update_time
        from order_item
    </select>
    <select id="getUserTopTreeOrderItem" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select oi.id, oi.product_id, oi.order_id, oi.quantity, oi.create_time, oi.update_time
        from order_item oi inner join `order` o on oi.order_id = o.id
        where o.user_id = #{userId,jdbcType=INTEGER}
        group by oi.product_id
        order by count(oi.product_id) desc
        limit 0,3
    </select>
</mapper>
